/* ThePriceOfPowerRegular */
@font-face {
    font-family: 'wdxphuthepriceofpowerregulaRg';
    src: url('/fonts/wdxphuthepriceofpowerregular-webfont.woff2') format('woff2'),
         url('/fonts/wdxphuthepriceofpowerregular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

code {
    font-family: 'wdxphuthepriceofpowerregulaRg', normal;
}